body {
    background-color: #efefef;
}

.wrapper {
    width: 513px;
    height: 751px;
    margin: auto;
    margin-top: 4px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px #9e9e9e;
}

.block1 {
    width: 412px;
    height: 273px;
    margin: 0 auto;
    border-bottom: 1px solid #7b7b7b;
    padding: 30px 13px 0;
    box-sizing: border-box;
}

.block2 {
    width: 412px;
    height: 169px;
    margin: 0 auto;
    border-bottom: 1px solid #7b7b7b;
    padding: 10px 13px;
    box-sizing: border-box;
}

.block3 {
    width: 412px;
    height: 135px;
    margin: 0 auto;
    padding: 10px 13px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 22px;
}

p,
li {
    font-size: 18px;
    line-height: 26px;
}

img {
    display: block;
    margin: auto;
}

ul {
    padding: 10px 20px;
    box-sizing: border-box;
}